<div class=" mt-10 h-[200px] w-[200px] flex flex-col rounded-lg shadow-lg shadow-slate-500 bg-slate-950">
    <div class=" h-1/4 border-b-2 border-gray-600 rounded-t-lg ">
        <h2 class="p-4"> {{t "monster_card.monster_id" monster_id=@monster.monsterId}} </h2>
    </div>
    <div class=" h-3/4 p-4">
        <h3 class=" text-wrap ">{{t "monster_card.calories"}} : <span>{{@monster.calories}}</span></h3>
        <h3>{{t "monster_card.health"}} <span data-test-monster-health>
                {{t "monster_card.health_status" health_status=@monster.health}}</span></h3>
    </div>
</div>